* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vw;
    margin: 0;
    color: #FFF;
    overflow: hidden;
    background-color: #000;
    font-family: Inter, sans-serif;
}

// Header Section
header {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(255, 255, 255, 0.3);

    img {
        width: 65px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
    }
}

// Form Section

main {
    padding: 80px 30px 10px;

    form {
        height: 40px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;

        input {
            min-width: 150px;
            max-width: 40%;
            padding: 9px 13px;
            font-size: 1.5rem;
            flex-grow: 1;
            border-radius: 6px;
            border: 1px solid #808080;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        button {
            width: 150px;
            padding: 10px;
            cursor: pointer;
            color: #FAFAF8;
            background-color: #000;
            border-radius: 6px;
            border: 1px solid #FAFAF8;
            font-family: Inter, sans-serif;

            &:hover {
                color: #000;
                background-color: #FAFAF8;
            }

            &:active {
                color: #FAFAF8;
                background-color: #000;
            }

            &::before {
                content: "+";
                margin-right: 5px;
            }
        }
    }
}

section {
    margin: 30px 50px 10px;

    h2 {
        font-size: 2.5rem;
    }

    ul.list {
        margin-bottom: 48px;

        li {
            font-size: 1.5rem;
            margin-top: 20px;
            margin-left: 50px;
            color: #FAFAF8;
            line-height: 28px;
        }
    }

    .recipe-container {
        padding: 10px 28px;
        background: #F0EFEB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            color: #242424;
            font-size: 1rem;
            font-weight: 500;
            line-height: 24px;
        }

        p {
            color: #6B7280;
            font-size: 0.875rem;
            line-height: 20px;
        }

        button {
            padding: 9px 17px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            color: #FAFAF8;
            font-size: 0.875rem;
            background: #D17557;
            font-family: Inter, sans-serif;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
    }

    img {
        width: 450px;
        margin-left: 30%;
    }
}

// .btns {
//     display: flex;
//     gap: 10px;

//     button {
//         width: 150px;
//         padding: 10px;
//         cursor: pointer;
//         color: #FAFAF8;
//         background-color: #000;
//         border-radius: 6px;
//         border: 1px solid #FAFAF8;
//         font-family: Inter, sans-serif;

//         &:hover {
//             color: #000;
//             background-color: #FAFAF8;
//         }

//         &:active {
//             color: #FAFAF8;
//             background-color: #000;
//         }
//     }

//     .add::before {
//         content: "+";
//         margin-right: 5px;
//     }
    
//     .clear::before {
//         content: "-";
//         margin-right: 5px;
//     }
// }

// Pad Challenge

// main {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .pad-container {
//         display: grid;
//         grid-template-columns: repeat(4, 100px);
//         grid-template-rows: repeat(2, 100px);
//         gap: 200px;

//         button {
//             width: 200px;
//             height: 200px;
//             border: 3px solid #FFF;
//             border-radius: 5px;
//             cursor: pointer;
//             opacity: 0.1;

//             &.on {
//                 opacity: 1;
//             }
//         }
//     }
// }